<div class="tab-pane active" id="monday">
	<h2>Art in Full Color</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<section class="media">
		<a href="artists#LaVonne_LaRue" class="pull-left" data-toggle="tooltip" title data-original-title="LaVonne_LaRue"><img class="img-rounded" src="img/artists/LaVonne_LaRue_tn.jpg" alt="Photo of LaVonne_LaRue"></img></a>
		<div class="media-body">
			<h4>9:30-10:30</h4>
			<h3>Art in Unexpected Places</h3>
			<h4>Elizabeth Hall</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem harum excepturi aspernatur facere, aperiam perferendis facilis veniam nobis tempora recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consequuntur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, veniam?</p>
		</div>
	</section> <!-- media -->

	<section class="media">
		<a href="artists#Lorenzo_Garcia" class="pull-left" data-toggle="tooltip" title data-original-title="Lorenzo_Garcia"><img class="img-rounded" src="img/artists/Lorenzo_Garcia_tn.jpg" alt="Photo of Lorenzo_Garcia"></img></a>
		<div class="media-body">
			<h4>11:00am-1pm</h4>
			<h3>Art in Full Bloom</h3>
			<h4>Victoria Hall</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>

	<section class="media">
		<div class="media-body">
			<h4>2:30-4:00pm</h4>
			<h3>Still Life</h3>
			<h4>Dennison Hall</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti labore, error tenetur quos excepturi sapiente modi sed consequuntur dolor doloremque tempore id qui quae veniam alias ducimus, necessitatibus magnam minima.</p>
		</div>
	</section>

</div>
