<div class="tab-pane" id="tuesday">
	<h2>Water in Art</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<section class="media">
		<div class="media-left">
			<a href="artists#Jennifer_Jerome" class="pull-left" data-toggle="tooltip" title data-original-title="Jennifer_Jerome"><img class="media-object img-rounded" src="img/artists/Jennifer_Jerome_tn.jpg" alt="Photo of Jennifer_Jerome"></a>
		</div>
		<div class="media-body">
			<h4>9:30-10:30am</h4>
			<h3>Wafer in Art Kickoff Session</h3>
			<h4>Elizabeth Hall</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>

	<section class="media">
		<div class="media-left">
			<a href="artists#Gerard_Donahue" class="pull-left" data-toggle="tooltip" title data-original-title="Gerard_Donahue"><img src="img/artists/Gerard_Donahue_tn.jpg" alt="Photo of Gerard_Donahue" class="media-object img-rounded"></a>
		</div>
		<div class="media-body">
			<h4>10:30-1pm</h4>
			<h3>Ice Sculptures</h3>
			<h4>Fountain of Intrigue</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita hic commodi dolorem praesentium molestiae quod numquam rerum, recusandae sunt animi consequuntur, architecto est aut aliquam vitae. Sint, harum, excepturi.</p>
		</div>
	</section>

	<section class="media">
		<a href="artists#Hillary_Goldwynn" class="pull-left" data-toggle="tooltip" title data-original-title="Hillary Goldwynn"><img class="img-rounded" src="img/artists/Hillary_Goldwynn_tn.jpg" alt="Photo of Hillary Goldywynn"></a>
	  <div class="media-body">
	  	<h4>2:30-4:00pm</h4>
			<h3>Deep Sea Wonders</h3>
			<h4>Dennison Hall</h4>
			<p>Hilary Goldywynn Post has been inspiring deep sea divers to paint what they experience under water, since she began diving at the early age of 14. Not only does she explain texture, color, and tools, but she also explains methods for capturing your under sea explorations in your mind for future expulsion onto canvas. And, even if snorkeling is as far under water as you're willing to go, Hilary's techniques will work just as well for you.</p>
	  </div><!-- media-body -->
	</section><!-- media -->
</div>