<!-- <nav class="navbar"> -->
		<!-- <div class="navbar-header"> -->
<header class="clearfix">
	<section id="branding">
		<a href="/"><img src="img/misc/ralogo_monogram.png" alt="Logo for Roux Conference"></a>
	</section> <!-- branding logo -->

	<section class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/venuetravel">Venue/Travel</a></li>
			<li><a href="/schedule">Schedule</a></li>
			<li class="dropdown">
				<a href="/artists" class="dropdown-toggle" id="dropdown-artist" data-toggle="dropdown">Artists <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-artist">
					<li><a tabindex="-1" href="/artists">All artists</a></li>
					<li><a tabindex="-1" href="/artists.php#Barot_Bellingham">Barot Bellingham</a></li>
					<li class="divider"></li>
					<li><a tabindex="-1" href="/artists#Gerard_Donahue">Gerard Donahue</a></li>
					<li><a tabindex="-1" href="/artists#Jonathan_Ferrar">Jonathan Ferrar</a></li>
					<li><a tabindex="-1" href="/artists#Lorenzo_Garcia">Lorenzo Garcia</a></li>
					<li><a tabindex="-1" href="/artists#Hillary_Goldwynn">Hillary Goldwynn</a></li>
					<li><a tabindex="-1" href="/artists#Hassum_Harrod">Hassum Harrod</a></li>
					<li><a tabindex="-1" href="/artists#Jennifer_Jerome">Jennifer Jerome</a></li>
					<li><a tabindex="-1" href="/artists#LaVonne_LaRue">LaVonne LaRue</a></li>
					<li><a tabindex="-1" href="/artists#Riley_Rewington">Riley Rewington</a></li>
					<li><a tabindex="-1" href="/artists#Constance_Smith">Constance Smith</a></li>
					<li><a tabindex="-1" href="/artists#Xhou_Ta">Xhou Ta</a></li>
					<li><a tabindex="-1" href="/artists#Richard_Tweed">Richard Tweed</a></li>
				</ul>
			</li>
			<li><a href="/register">Register</a></li>
		</ul>
	</section>

	<!-- Modal -->
	<section id="modal" class="modal fade">
		<div class="modal-body">
			<img id="modalimage" src="" alt="Modal Photo"></img>
		</div>
	</section>
</header>
