<section class="container">
	<footer class="row">
		<!-- <nav class="col-md-12"> -->
			<ul class="breadcrumb">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Link</a>
				</li>
				<li class="active">Current</li>
			</ul>
		<!-- </nav> -->
	</footer>
	<nav class="row">
		<nav class="col-md-12">
			<p><small>Copyright <%= Date.today.year %> -- Footer</small></p>	
		</nav>
	</nav>
</section>