<article class="abouttheartists">
  <h2>About the artists</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, perspiciatis repellat sit perferendis consequuntur numquam labore mollitia et! Maxime similique distinctio, quia mollitia obcaecati eligendi.</p>
  <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <div class="photogrid clearfix">
    <a href="#"><img data-toggle="tooltip" data-placement="top" title="Barot_Bellingham" src="img/artists/Barot_Bellingham_tn.jpg" alt="photo of Barot_Bellingham"></a>
    <a href="#"><img data-toggle="tooltip" data-placement="top" title="Constance_Smith" src="img/artists/Constance_Smith_tn.jpg" alt="photo of Constance_Smith"></a>
    <a href="#"><img data-toggle="tooltip" data-placement="top" title="Gerard_Donahue" src="img/artists/Gerard_Donahue_tn.jpg" alt="photo of Gerard_Donahue"></a>
    <a href="#"><img data-toggle="tooltip" data-placement="top" title="Hassum_Harrod" src="img/artists/Hassum_Harrod_tn.jpg" alt="photo of Hassum_Harrod"></a>
    <a href="#"><img data-toggle="tooltip" data-placement="top" title="Hillary_Goldwynn" src="img/artists/Hillary_Goldwynn_tn.jpg" alt="photo of Hillary_Goldwynn"></a>
    <a href="#"><img data-toggle="tooltip" data-placement="top" title="Jennifer_Jerome" src="img/artists/Jennifer_Jerome_tn.jpg" alt="photo of Jennifer_Jerome"></a>
    <a href="#"><img data-toggle="tooltip" data-placement="top" title="Jonathan_Ferrar" src="img/artists/Jonathan_Ferrar_tn.jpg" alt="photo of Jonathan_Ferrar"></a>
    <a href="#"><img data-toggle="tooltip" data-placement="top" title="LaVonne_LaRue" src="img/artists/LaVonne_LaRue_tn.jpg" alt="photo of LaVonne_LaRue"></a>
  </div>
  <a href="#" class="btn btn-primary">About the Artists</a>
</article>