<aside class="schedule">
	<h2>Schedule</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</aside>

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#monday" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-calendar"></span> Monday</a>
		</div>
		<div id="monday" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ducimus rem ipsa error! Consectetur, commodi.</p>
				<a href="/schedule#monday" class="btn btn-primary btn-small">Monday's schedule</a>
			</div>
		</div> <!-- monday collapse -->
	</div> <!-- panel -->
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#tuesday" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-calendar"></span> Tuesday</a>
		</div>
		<div id="tuesday" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ducimus rem ipsa error! Consectetur, commodi.</p>
				<a href="/schedule#tuesday" class="btn btn-primary btn-small">Tuesday's schedule</a>
			</div>
		</div> <!-- monday collapse -->
	</div> <!-- panel -->
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#wednesday" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-calendar"></span> wednesday</a>
		</div>
		<div id="wednesday" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ducimus rem ipsa error! Consectetur, commodi.</p>
				<a href="/schedule#wednesday" class="btn btn-primary btn-small">wednesday's schedule</a>
			</div>
		</div> <!-- monday collapse -->
	</div> <!-- panel -->
</div>