<aside class="register">
	<h2>Registration Info</h2>
	<p>Fill <a href="/register">our registration form</a> and we'll let you know when we begin the registration </p>
	<a href="/register" class="btn btn-danger">Register Now</a>
</aside>