<article id="Barot_Bellingham" class="media">
	<h2>Barot_Bellingham</h2>
	<img src="img/artists/Barot_Bellingham_tn.jpg" alt="" class="pull-left img-rounded">
	<div class="media-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, obcaecati!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod totam ipsam magni omnis perspiciatis facere excepturi ipsum, similique enim adipisci?</p>
		<section class="modalphotos photogrid">
			<img src="img/artwork/Barot_Bellingham_01_tn.jpg" alt="">
			<img src="img/artwork/Barot_Bellingham_02_tn.jpg" alt="">
			<img src="img/artwork/Barot_Bellingham_03_tn.jpg" alt="">
		</section>
	</div>
</article>