<article id="Constance_Smith" class="media">
	<h2>Constance Olivia Smith</h2>
	<img src="img/artists/Constance_Smith_tn.jpg" alt="" class="pull-left img rounded">
	<div class="media-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam qui, omnis amet. Ratione at, ad.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eum, sunt voluptatibus, numquam dicta, consectetur fugiat commodi excepturi nostrum id, inventore quam.</p>
		<section class="modalphotos photogrid">
			<h3>Artwork</h3>
			<img src="img/artwork/Constance_Smith_01_tn.jpg">
			<img src="img/artwork/Constance_Smith_02_tn.jpg">
			<img src="img/artwork/Constance_Smith_03_tn.jpg">
			<img src="img/artwork/Constance_Smith_04_tn.jpg">
			<img src="img/artwork/Constance_Smith_05_tn.jpg">
		</section>
	</div>
</article>